<div class="flex-auto px-4 lg:px-10 py-10 pt-0">
  <h1
    *ngIf="numIteracion"
    class="p-8 text-center font-black uppercase text-4xl text-blueGray-700"
  >
    Iteración  {{ numIteracion }}
  </h1>
  <div
    class="flex-auto px-4 lg:px-10 py-10 pt-0">
    <h4 class="text-blueGray-400 text-sm mt-3 mb-3 font-bold uppercase">
      Datos de la evaluación
    </h4>
    <!-- <ng-container *ngIf="numIteracion === evalu.iteracion.iteracion"> -->
<!--      <pre>-->
<!--        {{arrayCriterios | json}}-->
<!--      </pre>-->
      <div class="flex flex-wrap gap-8">
        <div class="mr-auto" *ngFor="let dimension of valores; let i = index">
          <h5 class="pt-2 px-4 pb-4"><b>{{ dimension.criterio.nombre }}</b></h5>

          <div class="flex mb-3 xl:w-96 gap-px space-x-4 items-center"
            *ngFor="let alumno of dimension.votaciones; let j = index">
<!--            <pre>{{ dimension.votaciones | json }}</pre>-->
            <p class="flex-auto">
              {{ alumno.alumno_votado.nombre + ' ' + alumno.alumno_votado.apellidos }}
            </p>
            <!-- <br>
            {{ alumno.escala.nivel }} -->
            <select
            class="flex-auto rounded-full"
            data-te-select-init
              (change)="
                seleccionar(
                  dimension._id,
                  i,
                  alumno.alumno_votado._id,
                  j,
                  $event
                )
              "
            >
              <option value="nada">NADA</option>
              <option *ngFor="let escala of arrayCriterios[i]?.escala"
              [defaultSelected]="alumno.escala.nivel === escala.nivel"
              [value]="escala.uid">
                {{ escala.nivel }}
              </option>
            </select>
          </div>
          <br />
        </div>
        <!-- <button (click)="enviarDatos()">Enviar</button> -->
      </div>
      <div class="text-right flex-auto p-5 lg:p-8">
        <button
      (click)="cancelar()"
        id="cancelar"
        class="bg-blueGray-800 text-white active:bg-blueGray-600 text-sm font-bold uppercase px-6 py-3 rounded shadow hover:shadow-lg outline-none focus:outline-none mr-1 mb-1 ease-linear transition-all duration-150"
        type="button"
      >
        Volver
      </button>
        <button
      (click)="enviarDatos()"
        class="bg-blueGray-800 text-white active:bg-blueGray-600 text-sm font-bold uppercase px-6 py-3 rounded shadow hover:shadow-lg outline-none focus:outline-none mr-1 mb-1 ease-linear transition-all duration-150"
        type="submit"
        *ngIf="!nombre"
      >Enviar</button>

      </div>
    <!-- </ng-container> -->
  </div>
</div>
