<div class="flex flex-wrap mt-4">
  <div class="w-full xl:w-12/12 mb-12 xl:mb-0 px-4">
    <div
      class="relative flex flex-col min-w-0 break-words bg-white w-full mb-6 shadow-lg rounded"
    >
      <div class="rounded-t mb-0 px-4 py-3 border-0">
        <div class="flex flex-wrap items-center">
          <div class="relative w-full px-2 py-4 max-w-full flex-grow">
            <h3 class="font-bold text-lg text-blueGray-700">Rúbricas</h3>
          </div>
          <div class="align-middle px-2 py-4 relative text-gray-600">
            <input
              type="search"
              name="search"
              placeholder="Buscar"
              class="block w-96 text-sm text-gray-900 border border-gray-300 rounded-lg bg-gray-50 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
            /><button type="submit" class="absolute right-0 top-0 mt-6 mr-4">
              <i class="fas fa-search"></i>
            </button>
          </div>
          <div class="align-middle flex-auto relative px-2 py-4 text-right">
            <button
              [routerLink]="['/admin/rubricas/rubrica/nuevo']"
              class="bg-elements text-white active:bg-indigo-600 text-sm font-bold uppercase px-3 py-1 rounded outline-none focus:outline-none mr-1 mb-1 ease-linear transition-all duration-150"
              type="button"
            >
              Nuevo
            </button>
          </div>
        </div>
      </div>
      <div class="block w-full overflow-x-auto">
        <!-- Projects table -->
        <table class="items-center w-full bg-transparent border-collapse">
          <thead>
            <tr>
              <th
                class="px-6 bg-blueGray-50 text-blueGray-500 align-middle border border-solid border-blueGray-100 py-3 text-sm uppercase border-l-0 border-r-0 whitespace-nowrap font-extrabold text-left"
              >
                Texto
              </th>
              <th
                class="px-6 bg-blueGray-50 text-blueGray-500 align-middle border border-solid border-blueGray-100 py-3 text-sm uppercase border-l-0 border-r-0 whitespace-nowrap font-bold text-left"
              >
                Criterios
              </th>
              <th
                class="px-6 bg-blueGray-50 text-blueGray-500 align-middle border border-solid border-blueGray-100 py-3 text-sm uppercase border-l-0 border-r-0 whitespace-nowrap font-bold text-left"
              >
                Activo
              </th>
              <th
                class="px-6 bg-blueGray-50 text-blueGray-500 align-middle border border-solid border-blueGray-100 py-3 text-sm uppercase border-l-0 border-r-0 whitespace-nowrap font-bold text-left"
              >
                Acción
              </th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let rubrica of listaRegistros">
              <th
                [routerLink]="
                  rol === 'ROL_ADMIN'
                    ? ['/admin/rubricas/rubrica', rubrica.uid]
                    : ['/profesor/rubricas/rubrica', rubrica.uid]
                "
                class="border-t-0 px-6 cursor-pointer align-middle border-l-0 border-r-0 text-sm whitespace-nowrap p-4 text-left"
              >
                {{ rubrica.texto }}
              </th>
              <td
                [routerLink]="
                  rol === 'ROL_ADMIN'
                    ? ['/admin/rubricas/rubrica', rubrica.uid]
                    : ['/profesor/rubricas/rubrica', rubrica.uid]
                "
                class="border-t-0 px-6 cursor-pointer align-middle border-l-0 border-r-0 text-sm whitespace-nowrap p-4"
              >
                <span *ngFor="let criterio of rubrica.criterios; let i = index">
                  {{ criterio.criterio.nombre }}
                  <!-- <span *ngIf="i < rubrica.criterios.length - 1">, </span> -->
                  <br />
                </span>
              </td>
              <td
                [routerLink]="
                  rol === 'ROL_ADMIN'
                    ? ['/admin/rubricas/rubrica', rubrica.uid]
                    : ['/profesor/rubricas/rubrica', rubrica.uid]
                "
                class="border-t-0 px-6 align-middle border-l-0 border-r-0 text-sm whitespace-nowrap p-4"
                *ngIf="rubrica.activo"
              >
                <i class="fas fa-check-circle text-emerald-500 px-4"></i>
              </td>
              <td
                class="flex items-center border-t-0 px-3 align-middle border-l-0 border-r-0 text-sm whitespace-nowrap p-4"
              >
                <button
                  class="lg:text-white lg:hover:text-blueGray-200 text-blueGray-700 px-3 py-4 lg:py-2 flex items-center text-sm uppercase font-bold"
                  target="_blank"
                >
                  <i
                    [routerLink]="
                      rol === 'ROL_ADMIN'
                        ? ['/admin/rubricas/rubrica', rubrica.uid]
                        : ['/profesor/rubricas/rubrica', rubrica.uid]
                    "
                    class="lg:text-blueGray-400 text-blueGray-300 fas fa-edit text-lg leading-lg"
                  ></i>
                </button>
                <button
                  class="lg:text-white lg:hover:text-blueGray-200 text-blueGray-700 px-3 py-4 lg:py-2 flex items-center text-sm uppercase font-bold"
                  target="_blank"
                >
                  <i
                    (click)="eliminarRubrica(rubrica.uid, rubrica.nombre)"
                    class="lg:text-blueGray-400 text-blueGray-300 fas fa-trash text-lg leading-lg"
                  ></i>
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <!-- Pagination -->
      <app-pagination
        (cambiarPagina)="cambiarPagina($event)"
        [texto]="true"
        [totalRegistros]="totalregistros"
        [registroActual]="registroactual + 1"
        [registrosPorPagina]="registrosporpagina"
        (cambiarPagina)="cambiarPagina($event)"
        [texto]="true"
        [totalRegistros]="totalregistros"
        [registroActual]="registroactual + 1"
        [registrosPorPagina]="registrosporpagina"
      ></app-pagination>
    </div>
  </div>
</div>
