<div class="flex flex-wrap mt-4">
  <div class="w-full xl:w-12/12 mb-12 xl:mb-0 px-4">

    <div
      class="relative flex flex-col min-w-0 break-words w-full mb-6 shadow-lg rounded-lg bg-blueGray-100 border-0"
    >
    <div class="rounded-t mb-0 px-4 py-3 bg-white border-0">
      <div class="flex flex-wrap items-center">
        <div class="relative w-full px-2 py-4 max-w-full flex-grow flex-1">
          <h3 *ngIf="nombre" class="font-bold text-lg text-blueGray-700">Nueva asignatura</h3>
          <h3 *ngIf="!nombre" class="font-bold text-lg text-blueGray-700">Editar asignatura</h3>
        </div>
        <div class="relative w-full px-4 max-w-full flex-grow flex-1 text-right">
          <button
            *ngIf="!nombre"
            [routerLink]="['/admin/asignaturas/asignatura/nuevo']"
            class="bg-elements text-white active:bg-indigo-600 text-sm font-bold uppercase px-3 py-1 rounded outline-none focus:outline-none mr-1 mb-1 ease-linear transition-all duration-150"
            type="button"
            (click)="nuevo()"
          >
            Nuevo
          </button>
        </div>
      </div>
    </div>
      <div class="flex-auto px-4 lg:px-10 py-10 pt-0">
        <form [formGroup]="datosForm" (ngSubmit)="enviar()">
          <h6 class="text-blueGray-400 text-sm mt-3 mb-6 font-bold uppercase">
            Datos de la asignatura
          </h6>
          <div class="flex flex-wrap">
            <div class="w-full lg:w-12/12 px-4">
              <div class="relative w-full mb-3">
                <label
                  class="block uppercase text-blueGray-600 text-xs font-bold mb-2"
                  htmlFor="grid-password"
                >
                  Asignatura
                </label>
                <input
                  type="text"
                  formControlName="nombre"
                  [ngClass]="{'disabled:bg-slate-50 disabled:text-slate-500 disabled:border-slate-200 disabled:shadow-none invalid:border-pink-500 invalid:text-pink-600 focus:invalid:border-pink-500 focus:invalid:ring-pink-500' : campoNoValido('nombre')}"
                  class="border-0 px-3 py-3 placeholder-blueGray-300 text-blueGray-600 bg-white rounded text-sm shadow focus:outline-none focus:ring w-full ease-linear transition-all duration-150"

                />
              </div>
            </div>
            <div class="w-full lg:w-12/12 px-4">
              <div class="relative w-full mb-3">
                <label
                  class="block uppercase text-blueGray-600 text-xs font-bold mb-2"
                  htmlFor="grid-password"
                >
                  Nombre corto
                </label>
                <input
                  type="text"
                  formControlName="nombrecorto"
                  class="border-0 px-3 py-3 placeholder-blueGray-300 text-blueGray-600 bg-white rounded text-sm shadow focus:outline-none focus:ring w-full ease-linear transition-all duration-150"

                />
              </div>
            </div>
            <div class="w-full lg:w-12/12 px-4">
              <div class="relative w-full mb-3">
                <label
                  class="block uppercase text-blueGray-600 text-xs font-bold mb-2"
                  htmlFor="grid-password"
                >
                  Porcentaje Nota Asignatura - Nota Coevaluación 70/30
                </label>
                <input
                  type="text"
                  formControlName="porcentaje"
                  class="border-0 px-3 py-3 placeholder-blueGray-300 text-blueGray-600 bg-white rounded text-sm shadow focus:outline-none focus:ring w-full ease-linear transition-all duration-150"
                />
              </div>
            </div>
            <div class="w-full lg:w-12/12 px-4">
              <div class="relative w-full mb-3">
                <label
                  class="block uppercase text-blueGray-600 text-xs font-bold mb-2"
                  htmlFor="grid-password"
                >
                  Curso
                </label>
                <select
                  formControlName="curso" [ngClass]="{'is-invalid' : campoNoValido('curso')}"
                  class="block appearance-none w-full placeholder-blueGray-300 bg-white border rounded text-sm shadow border-gray-200 text-gray-700 py-3 px-4 pr-8 leading-tight focus:outline-none focus:bg-white focus:border-gray-500" id="rol">
                  <option value="" selected>Seleccione un curso</option>
                  <option *ngFor="let curso of cursos" value="{{curso.uid}}">{{curso.nombrecorto}}</option>
                </select>
              </div>
            </div>
          </div>
          <!-- Buttons -->
          <div class="text-center flex-auto p-5 lg:p-8">
            <button
              class="bg-blueGray-800 text-white active:bg-blueGray-600 text-sm font-bold uppercase px-6 py-3 rounded shadow hover:shadow-lg outline-none focus:outline-none mr-1 mb-1 ease-linear transition-all duration-150"
              type="submit"
              id="crear"
              *ngIf="nombre"
            >
              Crear
            </button>
            <button
              class="bg-blueGray-800 text-white active:bg-blueGray-600 text-sm font-bold uppercase px-6 py-3 rounded shadow hover:shadow-lg outline-none focus:outline-none mr-1 mb-1 ease-linear transition-all duration-150"
              type="submit"
              id="modificar"
              *ngIf="!nombre"
            >
              Modificar
            </button>
            <button
              [routerLink]="['/admin/asignaturas']"
              class="bg-blueGray-800 text-white active:bg-blueGray-600 text-sm font-bold uppercase px-6 py-3 rounded shadow hover:shadow-lg outline-none focus:outline-none mr-1 mb-1 ease-linear transition-all duration-150"
              type="button"
            >
              Cancelar
            </button>
          </div>

          <hr class="mt-6 border-b-1 border-blueGray-300" />

          <div *ngIf="!esnuevo()">
            <h6 class="text-blueGray-400 text-sm mt-6 mb-6 font-bold uppercase">
              Participantes
            </h6>
            <app-pills></app-pills>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
