<div class="flex flex-wrap mt-4">
  <div class="w-full xl:w-12/12 mb-12 xl:mb-0 px-4">
    <div
  class="relative flex flex-col min-w-0 break-words bg-white w-full mb-6 shadow-lg rounded"
>
  <div class="rounded-t mb-0 px-4 py-3 border-0">
    <div class="flex flex-wrap items-center">
      <div class="relative w-full px-2 py-4 max-w-full flex-grow flex-1">
        <h3 class="font-bold text-lg text-blueGray-700">Usuarios</h3>
      </div>
      <div class="relative w-full px-4 max-w-full flex-grow flex-1 text-right">
        <button
          [routerLink]="['/admin/users/user/new']"
          class="bg-teal-600 text-white active:bg-indigo-600 text-sm font-bold uppercase px-3 py-1 rounded outline-none focus:outline-none mr-1 mb-1 ease-linear transition-all duration-150"
          type="button"
        >
          Nuevo
        </button>
      </div>
    </div>
  </div>
  <div class="block w-full overflow-x-auto">
    <!-- Projects table -->
    <table class="items-center w-full bg-transparent border-collapse">
      <thead>
        <tr>
          <th
            class="px-6 bg-blueGray-50 text-blueGray-500 align-middle border border-solid border-blueGray-100 py-3 text-sm uppercase border-l-0 border-r-0 whitespace-nowrap font-extrabold text-left"
          >
            Nombre
          </th>
          <th
            class="px-6 bg-blueGray-50 text-blueGray-500 align-middle border border-solid border-blueGray-100 py-3 text-sm uppercase border-l-0 border-r-0 whitespace-nowrap font-bold text-left"
          >
            Apellidos
          </th>
          <th
            class="px-6 bg-blueGray-50 text-blueGray-500 align-middle border border-solid border-blueGray-100 py-3 text-sm uppercase border-l-0 border-r-0 whitespace-nowrap font-bold text-left"
          >
            E-mail
          </th>
          <th
            class="px-6 bg-blueGray-50 text-blueGray-500 align-middle border border-solid border-blueGray-100 py-3 text-sm uppercase border-l-0 border-r-0 whitespace-nowrap font-bold text-left"
          >
            Rol
          </th>
          <th
            class="px-6 bg-blueGray-50 text-blueGray-500 align-middle border border-solid border-blueGray-100 py-3 text-sm uppercase border-l-0 border-r-0 whitespace-nowrap font-bold text-left"
          >
            Alta
          </th>
          <th
            class="px-6 bg-blueGray-50 text-blueGray-500 align-middle border border-solid border-blueGray-100 py-3 text-sm uppercase border-l-0 border-r-0 whitespace-nowrap font-bold text-left"
          >
            Activo
          </th>
          <th
            class="px-6 bg-blueGray-50 text-blueGray-500 align-middle border border-solid border-blueGray-100 py-3 text-sm uppercase border-l-0 border-r-0 whitespace-nowrap font-bold text-left"
          >
            Acción
          </th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let usuario of listaUsuarios">
          <th
            [routerLink]="['/admin/users/user', usuario.uid]"
            class="border-t-0 px-6 align-middle border-l-0 border-r-0 text-sm whitespace-nowrap p-4 text-left"
          >
          {{usuario.nombre}}
          </th>
          <td
            [routerLink]="['/admin/users/user', usuario.uid]"
            class="border-t-0 px-6 align-middle border-l-0 border-r-0 text-sm whitespace-nowrap p-4"
          >
          {{usuario.apellidos}}
          </td>
          <td
            [routerLink]="['/admin/users/user', usuario.uid]"
            class="border-t-0 px-6 align-middle border-l-0 border-r-0 text-sm whitespace-nowrap p-4"
          >
          {{usuario.email}}
          </td>
          <td
            [routerLink]="['/admin/users/user', usuario.uid]"
            class="border-t-0 px-6 align-middle border-l-0 border-r-0 text-sm whitespace-nowrap p-4"
          >
            {{usuario.rol}}
          </td>
          <td
            [routerLink]="['/admin/users/user', usuario.uid]"
            class="border-t-0 px-6 align-middle border-l-0 border-r-0 text-sm whitespace-nowrap p-4"
          >
            {{usuario.alta}}
          </td>
          <td
            [routerLink]="['/admin/users/user', usuario.uid]"
            class="border-t-0 px-6 align-middle border-l-0 border-r-0 text-sm whitespace-nowrap p-4"
            *ngIf="usuario.activo"
          >
            <i class="fas fa-check-circle text-emerald-500 px-4"></i>
          </td>
          <td
            class="flex items-center border-t-0 px-3 align-middle border-l-0 border-r-0 text-sm whitespace-nowrap p-4"
          >
            <button
              class="lg:text-white lg:hover:text-blueGray-200 text-blueGray-700 px-3 py-4 lg:py-2 flex items-center text-sm uppercase font-bold"
              target="_blank"
            >
              <i
                [routerLink]="['/admin/users/user', usuario.uid]"
                class="lg:text-blueGray-200 text-blueGray-400 fas fa-edit text-lg leading-lg"
              ></i>
            </button>
            <button
              class="lg:text-white lg:hover:text-blueGray-200 text-blueGray-700 px-3 py-4 lg:py-2 flex items-center text-sm uppercase font-bold"
              target="_blank"
            >
              <i
                (click)="eliminarUsuario(usuario.uid, usuario.nombre, usuario.apellidos)"
                class="lg:text-blueGray-200 text-blueGray-400 fas fa-trash text-lg leading-lg"
              ></i>
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <!-- Pagination -->
  <app-pagination (cambiarPagina)="cambiarPagina( $event )" [texto]="true" [totalRegistros]="totalusuarios" [registroActual]="posicionactual+1" [registrosPorPagina]="registrosporpagina" (cambiarPagina)="cambiarPagina( $event )" [texto]="true" [totalRegistros]="totalusuarios" [registroActual]="posicionactual+1" [registrosPorPagina]="registrosporpagina"></app-pagination>
</div>

  </div>
</div>
