<div class="flex flex-wrap mt-4">
  <div class="w-full xl:w-12/12 mb-12 xl:mb-0 px-4">
    <div
      class="relative flex flex-col min-w-0 break-words w-full mb-6 shadow-lg rounded-lg bg-blueGray-100 border-0"
    >
      <div class="rounded-t bg-section mb-0 px-4 py-3 bg-white border-0">
        <app-header-panel></app-header-panel>
      </div>
      <div class="flex-auto px-4 lg:px-10 py-10 pt-0">
        <h1
          class="p-8 text-center font-black uppercase text-4xl text-blueGray-700"
        >
          Coevaluación
        </h1>
        <app-card-table></app-card-table>
      </div>
    </div>
  </div>
</div>
