<div
  class="flex flex-wrap justify-center items-center text-center w-full px-2 py-4 max-w-full"
>
  <!-- Curso -->
  <div class="flex flex-row justify-center pt-4 min-w-screen">
    <div class="flex-none p-2">
      <div class="flex justify-center">
        <div class="xl:w-96">
          <select
            class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-full
            focus:ring-blue-500 focus:border-blue-500 block w-full py-3">
            <option value="">Seleccione un curso</option>
            <!-- <option *ngFor="let escala of escalasPorCriterio[i]?.escalas"
                [defaultSelected]="alumno.escala.nivel === escala.nivel"
                [value]="escala.uid">
                  {{ escala.nivel }}
                </option> -->
            <option
              *ngFor="let curso of cursos" value="{{curso.uid}}"
              [defaultSelected]="cursoActual === curso.uid">
              {{curso.nombrecorto}}
            </option>
          </select>
        </div>
      </div>
    </div>
  </div>
  <button
    [routerLink]="['/alumno/dashboard']"
    class="bg-header rounded-full text-white active:bg-indigo-600 text-sm font-bold uppercase px-6 py-3 outline-none focus:outline-none mr-1 mb-1 ease-linear transition-all duration-150"
    type="button"
  >
    Dashboard
  </button>
  <button
    [routerLink]="['/alumno/coevaluacion']"
    class="bg-header rounded-full text-white active:bg-indigo-600 text-sm font-bold uppercase px-6 py-3 outline-none focus:outline-none mr-1 mb-1 ease-linear transition-all duration-150"
    type="button"
  >
    Coevaluación
  </button>
  <button
    *ngIf="rol === 'ROL_ALUMNO'"
    [routerLink]="['/alumno/notas']"
    class="bg-header rounded-full text-white active:bg-indigo-600 text-sm font-bold uppercase px-6 py-3 outline-none focus:outline-none mr-1 mb-1 ease-linear transition-all duration-150"
    type="button"
  >
    Notas
  </button>
  <!-- </div> -->
</div>
